@import "compass_twitter_bootstrap";


.viewbox{
    width: 30%;
    margin: 1%;
    display: inline-block;
    /*font-family: 'Romanesco', cursive;*/
    font-family: 'Josefin Slab', serif;
    font-size: 28px;
    cursor: pointer;
}

.viewbox h2{
    margin-top: -60px;
}
.viewbox a h2, .viewbox a, , .viewbox h2{
    color: rgba(103, 107, 91, 0.7);
    text-decoration: none;
}
body, html{
    height: 100%;
}

body{
    background-color: rgba(243, 247, 223, 0.34);
}

h1, a h1{
    font-family: 'Josefin Slab', serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    text-align: center;
}

.bookmark{
    background: -moz-linear-gradient(top, rgba(103,107,91,0.7) 0%, rgba(86,89,76,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(103,107,91,0.7)), color-stop(100%,rgba(86,89,76,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(103,107,91,0.7) 0%,rgba(86,89,76,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(103,107,91,0.7) 0%,rgba(86,89,76,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(103,107,91,0.7) 0%,rgba(86,89,76,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(103,107,91,0.7) 0%,rgba(86,89,76,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3676b5b', endColorstr='#b356594c',GradientType=0 ); /* IE6-9 */
    height:40px;
    position:absolute;top:0;right:30px;
    width:80px;
}

.views{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    margin-top: -260px;
}